In [33]:
import random
import numpy as np
import sqlite3
import pandas as pd

In [34]:
import penney_db
from importlib import reload
reload(penney_db);
from  penney_db import DB

In [35]:
##making database
d = DB('../Automation_Workflow/test2.db', create=True)
d.build_tables()

In [36]:
sql ='''
SELECT * FROM tPenney
;'''
d.run_query(sql)

Empty DataFrame
Columns: [id, p1_guess, p2_guess, p1_cards, p2_cards, p1_tricks, p2_tricks, win_cards, win_tricks]
Index: []

In [37]:
##simulating data to be inserted into database
##making the 64 differenct combinations of guesses
guesses=[]
combos_P1=['BBB', 'BBR', 'BRB', 'BRR', 'RBB', 'RBR'	, 'RRB'	, 'RRR']
combos_P2=['BBB', 'BBR', 'BRB', 'BRR', 'RBB', 'RBR'	, 'RRB'	, 'RRR']
for i in combos_P1:
    for j in combos_P2:
        guesses+=[[i, j]]

In [38]:
cardp1=[]
cardp2=[]
trickp1=[]
trickp2=[]
for i in range(64):
    x=np.random.randint(1,52)
    cardp1+=[x]
    y=52-x
    cardp2+=[y]
    xt=np.random.randint(1,9)
    trickp1+=[xt]
    yt=9-xt
    trickp2+=[yt]

In [39]:
##inserting data into database
for spot in range(64):
    print(spot, guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot]) 
    ## I was printing these out for the purposes of error catching (error was found in the case of a draw)
    d.who_wins(guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot])

0 BBB BBB 27 25 8 1
1 BBB BBR 2 50 6 3
2 BBB BRB 46 6 6 3
3 BBB BRR 9 43 4 5
4 BBB RBB 41 11 3 6
5 BBB RBR 27 25 5 4
6 BBB RRB 46 6 6 3
7 BBB RRR 4 48 6 3
8 BBR BBB 21 31 3 6
9 BBR BBR 46 6 2 7
10 BBR BRB 19 33 6 3
11 BBR BRR 48 4 4 5
12 BBR RBB 3 49 3 6
13 BBR RBR 27 25 1 8
14 BBR RRB 11 41 5 4
15 BBR RRR 40 12 6 3
16 BRB BBB 18 34 8 1
17 BRB BBR 22 30 6 3
18 BRB BRB 30 22 5 4
19 BRB BRR 26 26 4 5
20 BRB RBB 32 20 6 3
21 BRB RBR 3 49 2 7
22 BRB RRB 1 51 2 7
23 BRB RRR 8 44 5 4
24 BRR BBB 35 17 6 3
25 BRR BBR 7 45 1 8
26 BRR BRB 4 48 2 7
27 BRR BRR 28 24 1 8
28 BRR RBB 42 10 8 1
29 BRR RBR 38 14 7 2
30 BRR RRB 28 24 7 2
31 BRR RRR 51 1 2 7
32 RBB BBB 11 41 2 7
33 RBB BBR 28 24 4 5
34 RBB BRB 29 23 5 4
35 RBB BRR 26 26 8 1
36 RBB RBB 42 10 2 7
37 RBB RBR 13 39 1 8
38 RBB RRB 46 6 4 5
39 RBB RRR 29 23 5 4
40 RBR BBB 15 37 8 1
41 RBR BBR 31 21 8 1
42 RBR BRB 7 45 4 5
43 RBR BRR 7 45 2 7
44 RBR RBB 2 50 6 3
45 RBR RBR 43 9 1 8
46 RBR RRB 49 3 8 1
47 RBR RRR 33 19 7 2
48 RRB BBB 38 14 8 1
49 RRB BBR 23 29 6 3
50 RRB BRB 13 39 7 2
51 RRB BRR 15 37 4 5
52 RRB RBB 3 49 7 2
53 RRB RBR 36 16 4 5
54 RRB RRB 19 33 3 6
55 RRB RRR 40 12 5 4
56 RRR BBB 24 28 6 3
57 RRR BBR 50 2 6 3
58 RRR BRB 49 3 6 3
59 RRR BRR 51 1 3 6
60 RRR RBB 6 46 7 2
61 RRR RBR 31 21 6 3
62 RRR RRB 43 9 4 5
63 RRR RRR 24 28 5 4

In [40]:
##Now am repeating the last 2 blocks of code 2 more times to simulate a small scale of the overall database (and the pcts somewhwat different)
cardp1=[]
cardp2=[]
trickp1=[]
trickp2=[]
for i in range(64):
    x=np.random.randint(1,52)
    cardp1+=[x]
    y=52-x
    cardp2+=[y]
    xt=np.random.randint(1,9)
    trickp1+=[xt]
    yt=9-xt
    trickp2+=[yt]

In [41]:
for spot in range(64):
    print(spot, guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot]) 
    ## I was printing these out for the purposes of error catching (error was found in the case of a draw)
    d.who_wins(guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot])

0 BBB BBB 14 38 7 2
1 BBB BBR 15 37 2 7
2 BBB BRB 48 4 8 1
3 BBB BRR 45 7 4 5
4 BBB RBB 37 15 2 7
5 BBB RBR 8 44 2 7
6 BBB RRB 10 42 8 1
7 BBB RRR 18 34 6 3
8 BBR BBB 6 46 4 5
9 BBR BBR 40 12 3 6
10 BBR BRB 12 40 7 2
11 BBR BRR 41 11 1 8
12 BBR RBB 34 18 3 6
13 BBR RBR 49 3 5 4
14 BBR RRB 8 44 5 4
15 BBR RRR 15 37 1 8
16 BRB BBB 31 21 4 5
17 BRB BBR 21 31 8 1
18 BRB BRB 10 42 3 6
19 BRB BRR 1 51 8 1
20 BRB RBB 14 38 1 8
21 BRB RBR 2 50 4 5
22 BRB RRB 10 42 3 6
23 BRB RRR 4 48 5 4
24 BRR BBB 37 15 4 5
25 BRR BBR 29 23 8 1
26 BRR BRB 18 34 2 7
27 BRR BRR 18 34 7 2
28 BRR RBB 30 22 7 2
29 BRR RBR 30 22 1 8
30 BRR RRB 12 40 4 5
31 BRR RRR 40 12 1 8
32 RBB BBB 29 23 4 5
33 RBB BBR 12 40 5 4
34 RBB BRB 23 29 4 5
35 RBB BRR 27 25 3 6
36 RBB RBB 33 19 8 1
37 RBB RBR 20 32 4 5
38 RBB RRB 19 33 8 1
39 RBB RRR 41 11 7 2
40 RBR BBB 12 40 8 1
41 RBR BBR 18 34 6 3
42 RBR BRB 6 46 5 4
43 RBR BRR 13 39 8 1
44 RBR RBB 23 29 6 3
45 RBR RBR 37 15 2 7
46 RBR RRB 42 10 3 6
47 RBR RRR 37 15 2 7
48 RRB BBB 17 35 5 4
49 RRB BBR 45 7 3 6
50 RRB BRB 26 26 8 1
51 RRB BRR 39 13 4 5
52 RRB RBB 14 38 4 5
53 RRB RBR 29 23 7 2
54 RRB RRB 3 49 8 1
55 RRB RRR 28 24 4 5
56 RRR BBB 43 9 4 5
57 RRR BBR 50 2 7 2
58 RRR BRB 29 23 8 1
59 RRR BRR 14 38 8 1
60 RRR RBB 42 10 8 1
61 RRR RBR 34 18 6 3
62 RRR RRB 31 21 4 5
63 RRR RRR 25 27 4 5

In [42]:
cardp1=[]
cardp2=[]
trickp1=[]
trickp2=[]
for i in range(64):
    x=np.random.randint(1,52)
    cardp1+=[x]
    y=52-x
    cardp2+=[y]
    xt=np.random.randint(1,9)
    trickp1+=[xt]
    yt=9-xt
    trickp2+=[yt]

In [43]:
for spot in range(64):
    print(spot, guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot]) 
    ## I was printing these out for the purposes of error catching (error was found in the case of a draw)
    d.who_wins(guesses[spot][0], guesses[spot][1], cardp1[spot], cardp2[spot], trickp1[spot], trickp2[spot])

0 BBB BBB 34 18 3 6
1 BBB BBR 36 16 5 4
2 BBB BRB 7 45 2 7
3 BBB BRR 13 39 5 4
4 BBB RBB 41 11 8 1
5 BBB RBR 40 12 5 4
6 BBB RRB 41 11 6 3
7 BBB RRR 18 34 2 7
8 BBR BBB 23 29 8 1
9 BBR BBR 41 11 7 2
10 BBR BRB 18 34 3 6
11 BBR BRR 15 37 5 4
12 BBR RBB 49 3 1 8
13 BBR RBR 46 6 7 2
14 BBR RRB 9 43 8 1
15 BBR RRR 32 20 1 8
16 BRB BBB 42 10 3 6
17 BRB BBR 50 2 4 5
18 BRB BRB 41 11 3 6
19 BRB BRR 50 2 4 5
20 BRB RBB 41 11 8 1
21 BRB RBR 45 7 6 3
22 BRB RRB 45 7 6 3
23 BRB RRR 7 45 2 7
24 BRR BBB 37 15 5 4
25 BRR BBR 13 39 1 8
26 BRR BRB 41 11 6 3
27 BRR BRR 24 28 3 6
28 BRR RBB 25 27 5 4
29 BRR RBR 45 7 8 1
30 BRR RRB 30 22 4 5
31 BRR RRR 3 49 2 7
32 RBB BBB 13 39 4 5
33 RBB BBR 40 12 8 1
34 RBB BRB 11 41 1 8
35 RBB BRR 37 15 4 5
36 RBB RBB 44 8 5 4
37 RBB RBR 8 44 5 4
38 RBB RRB 27 25 6 3
39 RBB RRR 14 38 6 3
40 RBR BBB 36 16 3 6
41 RBR BBR 38 14 6 3
42 RBR BRB 26 26 2 7
43 RBR BRR 50 2 6 3
44 RBR RBB 8 44 1 8
45 RBR RBR 30 22 6 3
46 RBR RRB 21 31 7 2
47 RBR RRR 29 23 6 3
48 RRB BBB 39 13 5 4
49 RRB BBR 22 30 7 2
50 RRB BRB 21 31 5 4
51 RRB BRR 51 1 1 8
52 RRB RBB 48 4 7 2
53 RRB RBR 22 30 5 4
54 RRB RRB 39 13 6 3
55 RRB RRR 28 24 8 1
56 RRR BBB 6 46 2 7
57 RRR BBR 24 28 5 4
58 RRR BRB 21 31 3 6
59 RRR BRR 33 19 5 4
60 RRR RBB 23 29 3 6
61 RRR RBR 40 12 7 2
62 RRR RRB 32 20 2 7
63 RRR RRR 12 40 1 8

In [44]:
sql ='''
SELECT * FROM tPenney
;'''
d.run_query(sql)

,id,p1_guess,p2_guess,p1_cards,p2_cards,p1_tricks,p2_tricks,win_cards,win_tricks
0,1,BBB,BBB,27,25,8,1,p1,p1
1,2,BBB,BBR,2,50,6,3,p2,p1
2,3,BBB,BRB,46,6,6,3,p1,p1
3,4,BBB,BRR,9,43,4,5,p2,p2
4,5,BBB,RBB,41,11,3,6,p1,p2
...,...,...,...,...,...,...,...,...,...
187,188,RRR,BRR,33,19,5,4,p1,p1
188,189,RRR,RBB,23,29,3,6,p2,p2
189,190,RRR,RBR,40,12,7,2,p1,p1
190,191,RRR,RRB,32,20,2,7,p1,p2
191,192,RRR,RRR,12,40,1,8,p2,p2

In [45]:
##getting the counts of how many times player 1 won by card and the total times each combination has been played
sql1="""
SELECT p1_guess, p2_guess, P1WinCardCount, Count(*) AS TimesPlayed
    FROM tPenney
    LEFT JOIN (
        SELECT p1_guess, p2_guess, win_cards, Count(*) AS P1WinCardCount 
        -- records the amount of times for each combination of guesses how many times p1 won by card
        from tPenney
        WHERE win_cards='p1'
        GROUP BY p1_guess,p2_guess
    ) USING (p1_guess,p2_guess)
GROUP BY p1_guess, p2_guess
"""
d.run_query(sql1)

   p1_guess p2_guess  P1WinCardCount  TimesPlayed
0       BBB      BBB             2.0            3
1       BBB      BBR             1.0            3
2       BBB      BRB             2.0            3
3       BBB      BRR             1.0            3
4       BBB      RBB             3.0            3
..      ...      ...             ...          ...
59      RRR      BRR             2.0            3
60      RRR      RBB             1.0            3
61      RRR      RBR             3.0            3
62      RRR      RRB             3.0            3
63      RRR      RRR             NaN            3

[64 rows x 4 columns]

In [46]:
##trying now to see the probability of player 1 winning by card amount for each different combination
## I used a left join so 64 rows would be returned (some iterations p1 didnt win by card at all for the 3 decks
##the left join made it so that those rows w/o any p1 listed for wincard were null --> used IFNULL(
##or if P1WinCardCount was 0 when it was 0/3 it orginally returned null so I also made it 0
sql1="""
SELECT p1_guess, p2_guess, IFNULL(P1WinCardCount,0) AS P1CardWinCount , TimesPlayed, IFNULL(1.* P1WinCardCount/TimesPlayed,0) AS P1ProbWinCard
FROM(
    SELECT p1_guess, p2_guess, P1WinCardCount, Count(*) AS TimesPlayed  
    FROM tPenney
    LEFT JOIN (
        SELECT p1_guess, p2_guess, win_cards, Count(*) as P1WinCardCount 
        -- records the amount of times for each combination of guesses how many times p1 won by card
        from tPenney
        WHERE win_cards='p1'
        GROUP BY p1_guess,p2_guess
    ) USING (p1_guess,p2_guess)
    GROUP BY p1_guess, p2_guess
)  

"""
d.run_query(sql1)

   p1_guess p2_guess  P1CardWinCount  TimesPlayed  P1ProbWinCard
0       BBB      BBB               2            3       0.666667
1       BBB      BBR               1            3       0.333333
2       BBB      BRB               2            3       0.666667
3       BBB      BRR               1            3       0.333333
4       BBB      RBB               3            3       1.000000
..      ...      ...             ...          ...            ...
59      RRR      BRR               2            3       0.666667
60      RRR      RBB               1            3       0.333333
61      RRR      RBR               3            3       1.000000
62      RRR      RRB               3            3       1.000000
63      RRR      RRR               0            3       0.000000

[64 rows x 5 columns]

In [47]:
##now trying to make an 8 x 8 array from this -- I realized d was a datframe
sql1="""

SELECT p1_guess, p2_guess, IFNULL(P1WinCardCount,0) AS P1CardWinCount , TimesPlayed, IFNULL(1.* P1WinCardCount/TimesPlayed,0) AS P1ProbWinCard
FROM(
    SELECT p1_guess, p2_guess, P1WinCardCount, Count(*) AS TimesPlayed  
    FROM tPenney
    LEFT JOIN (
        SELECT p1_guess, p2_guess, win_cards, Count(*) as P1WinCardCount 
        -- records the amount of times for each combination of guesses how many times p1 won by card
        from tPenney
        WHERE win_cards='p1'
        GROUP BY p1_guess,p2_guess
    ) USING (p1_guess,p2_guess)
    GROUP BY p1_guess, p2_guess
)


"""
banked=d.run_query(sql1)

In [48]:
banked_arr=banked.to_numpy() 
banked_arr
##have to group them into 8's ##WE ABSOLUTELY NEED TO KNOW THE ORDER IN WHICH THE SIMULATION RUNS EACH COMBO

array([['BBB', 'BBB', 2, 3, 0.6666666666666666],
       ['BBB', 'BBR', 1, 3, 0.3333333333333333],
       ['BBB', 'BRB', 2, 3, 0.6666666666666666],
       ['BBB', 'BRR', 1, 3, 0.3333333333333333],
       ['BBB', 'RBB', 3, 3, 1.0],
       ['BBB', 'RBR', 2, 3, 0.6666666666666666],
       ['BBB', 'RRB', 2, 3, 0.6666666666666666],
       ['BBB', 'RRR', 0, 3, 0.0],
       ['BBR', 'BBB', 0, 3, 0.0],
       ['BBR', 'BBR', 3, 3, 1.0],
       ['BBR', 'BRB', 0, 3, 0.0],
       ['BBR', 'BRR', 2, 3, 0.6666666666666666],
       ['BBR', 'RBB', 2, 3, 0.6666666666666666],
       ['BBR', 'RBR', 3, 3, 1.0],
       ['BBR', 'RRB', 0, 3, 0.0],
       ['BBR', 'RRR', 2, 3, 0.6666666666666666],
       ['BRB', 'BBB', 2, 3, 0.6666666666666666],
       ['BRB', 'BBR', 1, 3, 0.3333333333333333],
       ['BRB', 'BRB', 2, 3, 0.6666666666666666],
       ['BRB', 'BRR', 1, 3, 0.3333333333333333],
       ['BRB', 'RBB', 2, 3, 0.6666666666666666],
       ['BRB', 'RBR', 1, 3, 0.3333333333333333],
       ['BRB', 'RRB', 1, 3, 0.3333333333333333],
       ['BRB', 'RRR', 0, 3, 0.0],
       ['BRR', 'BBB', 3, 3, 1.0],
       ['BRR', 'BBR', 1, 3, 0.3333333333333333],
       ['BRR', 'BRB', 1, 3, 0.3333333333333333],
       ['BRR', 'BRR', 1, 3, 0.3333333333333333],
       ['BRR', 'RBB', 2, 3, 0.6666666666666666],
       ['BRR', 'RBR', 3, 3, 1.0],
       ['BRR', 'RRB', 2, 3, 0.6666666666666666],
       ['BRR', 'RRR', 2, 3, 0.6666666666666666],
       ['RBB', 'BBB', 1, 3, 0.3333333333333333],
       ['RBB', 'BBR', 2, 3, 0.6666666666666666],
       ['RBB', 'BRB', 1, 3, 0.3333333333333333],
       ['RBB', 'BRR', 2, 3, 0.6666666666666666],
       ['RBB', 'RBB', 3, 3, 1.0],
       ['RBB', 'RBR', 0, 3, 0.0],
       ['RBB', 'RRB', 2, 3, 0.6666666666666666],
       ['RBB', 'RRR', 2, 3, 0.6666666666666666],
       ['RBR', 'BBB', 1, 3, 0.3333333333333333],
       ['RBR', 'BBR', 2, 3, 0.6666666666666666],
       ['RBR', 'BRB', 0, 3, 0.0],
       ['RBR', 'BRR', 1, 3, 0.3333333333333333],
       ['RBR', 'RBB', 0, 3, 0.0],
       ['RBR', 'RBR', 3, 3, 1.0],
       ['RBR', 'RRB', 2, 3, 0.6666666666666666],
       ['RBR', 'RRR', 3, 3, 1.0],
       ['RRB', 'BBB', 2, 3, 0.6666666666666666],
       ['RRB', 'BBR', 1, 3, 0.3333333333333333],
       ['RRB', 'BRB', 0, 3, 0.0],
       ['RRB', 'BRR', 2, 3, 0.6666666666666666],
       ['RRB', 'RBB', 1, 3, 0.3333333333333333],
       ['RRB', 'RBR', 2, 3, 0.6666666666666666],
       ['RRB', 'RRB', 1, 3, 0.3333333333333333],
       ['RRB', 'RRR', 3, 3, 1.0],
       ['RRR', 'BBB', 1, 3, 0.3333333333333333],
       ['RRR', 'BBR', 2, 3, 0.6666666666666666],
       ['RRR', 'BRB', 2, 3, 0.6666666666666666],
       ['RRR', 'BRR', 2, 3, 0.6666666666666666],
       ['RRR', 'RBB', 1, 3, 0.3333333333333333],
       ['RRR', 'RBR', 3, 3, 1.0],
       ['RRR', 'RRB', 3, 3, 1.0],
       ['RRR', 'RRR', 0, 3, 0.0]], dtype=object)

In [49]:
##retrieving all the probabilites of player 1 winning by card
all_pcts=[]
for i in range(64):
    all_pcts+=[banked_arr[i][-1]]
print(all_pcts)

[0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.3333333333333333, 1.0, 0.6666666666666666, 0.6666666666666666, 0.0, 0.0, 1.0, 0.0, 0.6666666666666666, 0.6666666666666666, 1.0, 0.0, 0.6666666666666666, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.3333333333333333, 0.3333333333333333, 0.0, 1.0, 0.3333333333333333, 0.3333333333333333, 0.3333333333333333, 0.6666666666666666, 1.0, 0.6666666666666666, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 1.0, 0.0, 0.6666666666666666, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.0, 0.3333333333333333, 0.0, 1.0, 0.6666666666666666, 1.0, 0.6666666666666666, 0.3333333333333333, 0.0, 0.6666666666666666, 0.3333333333333333, 0.6666666666666666, 0.3333333333333333, 1.0, 0.3333333333333333, 0.6666666666666666, 0.6666666666666666, 0.6666666666666666, 0.3333333333333333, 1.0, 1.0, 0.0]

In [50]:
##grouping these percentages into 8's (since the first 8 should all pertain to p1guess==BBB and so on)
new=np.reshape(all_pcts, (8,8))

In [28]:
new

array([[1.        , 0.33333333, 0.66666667, 0.33333333, 1.        ,
        1.        , 1.        , 0.        ],
       [0.        , 0.        , 0.33333333, 1.        , 0.        ,
        0.        , 0.        , 0.66666667],
       [0.66666667, 0.66666667, 1.        , 0.33333333, 0.66666667,
        0.66666667, 0.        , 0.33333333],
       [0.66666667, 0.33333333, 0.33333333, 0.66666667, 0.66666667,
        0.33333333, 0.66666667, 0.33333333],
       [0.        , 0.33333333, 0.66666667, 0.66666667, 0.66666667,
        0.66666667, 0.33333333, 0.66666667],
       [0.        , 0.66666667, 0.66666667, 1.        , 0.66666667,
        1.        , 0.66666667, 0.66666667],
       [0.66666667, 0.66666667, 0.33333333, 0.33333333, 0.33333333,
        0.66666667, 1.        , 0.66666667],
       [0.33333333, 0.        , 0.33333333, 0.33333333, 0.66666667,
        0.33333333, 0.        , 0.33333333]])

In [63]:
d.close()